# virtual environments
.venv

# documentation
doc/build
doc/source/user_guide/faq/index.rst
doc/source/user_guide/data_visualization/index.rst
*api

# distribution
dist

# compiled
__pycache__

# data
etc

# IDE
.vscode